{% extends 'base.html' %}

{% block title %}Home - Delicious Recipes{% endblock %}

{% block content %}
<br>
<section id="home" class="hero">
    <h1>Welcome to Delicious Recipes</h1>
    <p>Your one-stop destination for mouth-watering recipes.</p>
</section>
<br>

<div class="aboutMainText">

    <div class="aboutBox">
        <H1> This website is made to help your find a meal</H1>
        <H1> that you have never tried</H1>
    </div>

    <br>
    <br>
    <br>

    <div class="aboutBox">
        <h2> This website is designed to make finding new food</h2>
        <h2> as convenient as possible</h2>
    </div>

    <br>
    <br>
    <br>

    <div class="aboutBox">
        <h2> Your next favorite meal is here</h2>
        <h2> You are few clicks away</h2>
    </div>

    <br>
    <br>
    <br>

    <div class="aboutBox">
        <h2> Hundreds of new meals</h2>
        <h2> Waiting for you</h2>
    </div>

    <br>
    <br>
    <br>

    <div class="aboutBox">
        <h2> Takes only few seconds</h2>
    </div>

    <br>
    <br>
    <br>

    <div class="aboutBox">
        <h2> Find popular meals</h2>
    </div>

    <br>
    <br>
    <br>

    <div class="aboutBox">
        <h2> Many deserts are here too</h2>
    </div>

    <br>
    <br>
    <br>

    <div class="aboutBox">
        <h2> Know how to cook dozens of meals</h2>
    </div>

</div>

{% endblock %}