{% extends 'base.html' %}

{% block title %}Home - Delicious Recipes{% endblock %}

{% block content %}
<section class="contact">
    <h2>Contacts</h2>

    <p>Have any questions or inquiries? Feel free to reach out to us using the form below.</p>
    <p>If you notice any problems, it would be nice if you would contact me</p>
    <p>If you want any other features, you could contact me too</p>
    <p>Or if you have any good ideas to improve the website</p>
    <p>This is my first attempt at creating a useful website</p>
    <p>The website was last updated 3/14/2025</p>
    <p>And I hope it will be updated in the future</p>

    <br>
    <br>
    <br>
    <br>

    <h3>Contact Information:</h3>
    <p>Email: lukadolidze433@gmail.com</p>
    <p>Phone: +995 577 770 725</p>
    <p>Address: Tbilisi, Georgia</p>

</section>
{% endblock %}
