{% extends 'base.html' %}

{% block title %}Home - Delicious Recipes{% endblock %}

{% block content %}
<section class="contact">
    <h2>Contact Us</h2>

    <p>Have any questions or inquiries? Feel free to reach out to us using the form below.</p>
    <p>if you notice any problems you, it would be nice if you would contact me</p>
    <p>if you want any other features, you could contact me too</p>
    <p>or if you have any good ideas to improve the website</p>

    <br>
    <br>
    <br>
    <br>

    <h3>Contact Information:</h3>
    <p>Email: lukadolidze433@gmail.com</p>
    <p>Phone: +995 577 770 725</p>
    <p>Address: 2 Tirifebi, Tbilisi, Georgia</p>
</section>
{% endblock %}